# Path
DATA_PATH=data/raw
PROCESSED_PATH=data/processed
MODELS_PATH=models
OUTPUTS_PATH=data/outputs
LOGS_PATH=logs

# Model parametreleri
RANDOM_STATE=42
TEST_SIZE=0.2
N_TRIALS=50

# Uygulama
LOG_LEVEL=INFO
ENV=development

# PostgreSQL
POSTGRES_USER=return_rate_user
POSTGRES_PASSWORD=R3turn_R4te#2026!
POSTGRES_DB=return_rate_db
POSTGRES_HOST=db
POSTGRES_PORT=5432